@page
@model AddMeal
@{
    ViewData["Title"] = "Add A Meal";
}

@* 
    Naam = inputveld; V
    beschrijving = inputveld; V
    ingredienten = inputveld; V
    afbeedling = file drop; V
    categorie = inputveld met drop down; V
    hoeveelheid porties = inputveld type number; V
    gewicht porties = inputveld type number; V
    ingevroren = checkbox; V
    datum = inputveld date; V
    prijs = inputveld type number; V
 *@
<div class="text-center">
    <h1 class="text-danger">Creëer je EigenMaaltijd</h1>
    <form class="w-75 mx-auto mt-5" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="" for="name">Titel van de Maaltijd:</label>
            <input type="text" class="form-control" placeholder="naam" name="name">
        </div>
        <div class="form-group">
            <label for="desc">Beschrijving over de Maaltijd:</label>
            <input type="text" class="form-control" placeholder="beschrijving" name="desc">
            <small name="desc-limit" class="form-text text-muted">Limiet van 280 karakters.</small>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label text-left" for="inputGroupFile01">Kies een afbeedling voor de Maaltijd...</label>
            </div>
        </div>
        <div class="form-group">
            <label for="ingredients">Ingrediënten:</label>
            <div class="input-group">
                <input type="text" class="form-control w-75" placeholder="Ingrediënt..." name="ingredients">
                <button type="button" class="btn btn-danger">Voeg toe</button>
            </div>
            <small name="ingredients-desc" class="form-text text-muted">Voeg de ingrediënten één voor één toe.</small>
        </div>
        <div class="form-check">
            <input class="form-check-input" name="frozen" type="checkbox" value="true">
            <label class="form-check-label" for="frozen">Is het ingevroren?</label>
            <small name="frozen-desc" class="form-text text-muted">Tik op de box als de maaltijd is ingevroren.</small>
        </div>
        <div class="form-group mt-3">
            <label for="options">Categorie maaltijd:</label>
            <input name="options" type="text" class="form-control" list="options">
            <datalist id="options">
                <option value="Veganisme Maaltijd"></option>
                <option value="Vegetarische Maaltijd"></option>
                <option value="Vlees Maaltijd"></option>
            </datalist>
            <small name="desc-limit" class="form-text text-muted">Artikel over het <a href="https://ecowijs.nl/uitleg/verschil-tussen-vegetarisch-en-veganistisch-eten/">verschil</a> tussen veganisme en vegetarisch</small>
        </div>
        <div class="form-group mt-3">
            <label for="date">Datum maaltijd bereid:</label>
            <input type="date" name="date" class="form-control">
        </div>
        <div class="form-group mt-4">
            <div class="form-group mt-2">
                <label for="amount">Hoeveelheid porties:</label>
                <input type="number" name="amount" value=1 class="form-control">
            </div>
            <div class="form-group mt-2">
                <label for="weight">Gewicht per portie:</label>
                <input type="number" name="weight" value=250 class="form-control">
                <small name="weight-desc" class="form-text text-muted">Gewicht in gram.</small>
            </div>
            <div class="form-group mt-2">
                <label for="price">Prijs per portie:</label>
                <input type="number" value=1.00 name="price" class="form-control">
            </div>
        </div>
        <small name="general-desc" class="form-text text-muted">Alle gegevens over een gerecht kan later worden aangepast. Hieronder kan je aangeven of de 
            maaltijd alleen bewaard moet worden of ook gepubliceerd moet worden.</small>
        <div class="form-group mt-3">
            <input name="saveoptions" type="text" class="form-control" list="save">
            <datalist id="save">
                <option value="Bewaren"></option>
                <option value="Bewaren en Publiceren"></option>
            </datalist>
        </div>
        <button class="btn btn-danger" type="submit">Opslaan</button>
    </form>
</div>
