@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>

    body {
        @* font-family: "Century Gothic"; *@
    }

    .container {
        min-width: 100%;
    }
     
    .mb-3 {
        margin-bottom: 0 !important;
    }

    #banner {
        max-width: 100%;
        display: inline-block;
        padding: 0;
    }

    #steps {
        background-color: lightgray;
        color: #C1272D;
        font-weight: 800;
        font-size: 24px;
    }

    .step {
        float: left;
        margin: 5%;
        margin-top: 2%;
        margin-bottom: 0;
        text-align: center;
    }

    #stap1 {
        margin-left: 20%;
    }

    .arrow {
        float: left;
        margin: 4%;
    }

    .icon {
        width: 50px;
    }

    .inner-banner {
        z-index: 1000;
        position: absolute;
        left: 25%;
        top: 40%;
        display: flex;
        width: 50%;
    }
    
    #search-btn {
        border-radius: 0px 20px 20px 0px; 
        width: 100px;
        font-weight: 600;
        color: #707070;
        border: none;
    }
    
    .gerecht-container {
        overflow-x: auto;
        white-space: nowrap;
        margin-top: 5%; 
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 3%;
        padding-bottom: 15px;
    }

    .title {
        font-size: 30px;
        font-weight: 600;
        color: #C1272D;
        width: 100%;
    }

    .gerecht {
        width: 20%;
        height: 325px;
        margin-right: 5%;
        display: inline-block;
    }

    .profileBox {
        background-color: white;
        border: #707070 1px solid;
        border-radius: 15px;
        margin-top: 0%;
    }

    .titleGerecht {
        text-align: center;
        font-weight: 600;
        border-bottom: 1px #707070 solid;
        margin: 0 !important;
    }

    .maaltijd-img {
        width: 100%; 
        height: 300px;
    }
    
    ::-webkit-scrollbar {
        height: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: lightgrey;
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-track {
        background: whitesmoke;
        border-radius: 10px;
    }

    .testimonial-group > .row {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .testimonial-group > .row > .col-4 {
        display: inline-block;
    }

    .header {
        border-bottom: 2px solid black;
    }

</style>

<div class="row">
    <div id="banner" class="col-12 h-75">
        <img src="~/images/Background1.jpg" style="width: 100%; height: 100%" />
        <img src="~/images/EigenMaaltijdLogo.svg" class="inner-banner" style="top: 15%; width: 15%; left: 43%"/>
        <form method="post" asp-page="Search" asp-page-handler="search" class="inner-banner">
            <input name="searchValue" type="text" class="form-control" placeholder="Boerenkool" required autofocus style="border-radius: 20px 0px 0px 20px"/>
            <input type="submit" value="Zoek" id="search-btn"/>
        </form>
    </div>
    <div id="steps" class="col-12">
        <div id="stap1" class="step">
            <p>Zoeken</p>
            <img class="icon" src="~/images/icons/search_black_24dp.svg" />
        </div>
        <img src="~/images/icons/arrow_forward_black_24dp.svg" class="arrow icon" />
        <div id="stap2" class="step">
            <p>Bestellen</p>
            <img class="icon" src="~/images/icons/shopping_basket_black_24dp.svg" />
        </div>
        <img src="~/images/icons/arrow_forward_black_24dp.svg" class="arrow icon" />
        <div id="stap3" class="step">
            <p>Ophalen</p>
            <img class="icon" src="~/images/icons/directions_car_filled_black_24dp.svg" />
        </div>
    </div>
    <div class="w-75 testimonial-group mx-auto mt-5">
        <div class="row text-center">
         @{
             foreach (var maal in @Model.maaltijd)
             {
                <a class="col-4" href=@maal.url>
                    <span class="col-4">
                        <p class="font-weight-bold text-danger header">@maal.Name</p>
                        <img src="@maal.Image" alt="Image can't Be Loaded" width="50%" height=50%>
                    </span>
                </a>
             }
         }
         </div>
    </div>
</div>
