@page
@model Eigenmaaltijden.Pages.ProfileSettings

@{
    ViewData["Title"] = "Settings";
    
}
<style>
    html{
        font-family: "Century Gothic";
    }
    
    .page{
        border: 1px solid #707070;
        border-radius: 15px;
        width: 70%;
    }
    
    #tab {
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #707070;
    }
    
    #tab-profile {
        background-color: #C1272D;
        border-top-left-radius: 15px;
        color: white;
        padding: 7px;
    }
    
    #tab-account {
        background-color: white;
        border-top-right-radius: 15px;
        color: #C1272D;
        padding: 7px;
    }
    
    #settings {
        padding: 10px;
        padding-top: 27px;
    }
    
    .labels {
        color: #C1272D;
        font-size: 17px;
    }
    
    input[type=checkbox]{
        transform: scale(1.5);
    }
</style>
<div class="container page">
    <div id="tab" class="row">
        <div class="col-6" id="tab-profile">Profiel</div>
        <div class="col-6" id="tab-account"><a href="/AccountSettings">Account</a></div>
    </div>
    <form method="post" asp-page="ProfileSettings" asp-page-handler="ProfileSettings">
        <div id="settings" class="row">
            <div class="col-6">
                <label for="username" class="labels">Gebruikersnaam</label>
                <input type="text" class="form-control" id="username" name="username" asp-for="@Model.Name" value="@Model.Name"/>
                <br/>
                <label for="pfp_upload" class="labels">Profiel foto</label>
                <div class="custom-file" id="pfp_upload">
                    <input type="file" class="custom-file-input" aria-describedby="inputGroupFileAddon01" asp-for="uploadedImage">
                    <label class="custom-file-label text-left" for="inputGroupFile01">Kies een afbeedling...</label>
                </div>
                <br/>
                <br/>
                <label for="about" class="labels">Stukje over jezelf</label>
                <textarea id="about" class="form-control" rows="3" name="about" asp-for="@Model.Description">@Model.Description</textarea>
                <br/>
            </div>
            <div class="col-6" style="padding-left: 45px;">
                <input type="checkbox" class="form-check-input" id="email-check" name="email" value="email">
                <label for="email-check" class="form-check-label"> Weergeef mijn emailadres</label><br/>
                <input type="submit" class="btn" style="margin-top: 79%; margin-left:  20%; color: white; background-color: #C1272D" value="Wijzigingen Opslaan"/>
            </div>
        </div>
    </form>
</div>