@page
@model Eigenmaaltijden.Pages.TOSModel
@{
    ViewData["Title"] = "Terms of Service";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's terms of service. All user data will only be used to help the search for your profile & your Meals. User data will never be shared outside the website.</p>